@model TheatreCMS.Models.ChangePasswordViewModel
@{
  ViewBag.Title = "Change Password";
}

@using (Html.BeginForm("ChangePassword", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
  <div class="card-passwordchange-container" style="width: 22rem;">
    <h2 class="change-password-title">@ViewBag.Title</h2>
    <div class="card-passwordchange-body">
      @Html.AntiForgeryToken()
      <hr />
      @Html.ValidationSummary("", new { @class = "text-danger" })
      <div class="form-group">
        @Html.LabelFor(m => m.OldPassword, new { @class = "form-text-labels" })
        <div class="col-md-12">
          @Html.PasswordFor(m => m.OldPassword, new { @class = "form-control" })
        </div>
      </div>
      <div class="form-group">
        @Html.LabelFor(m => m.NewPassword, new { @class = "form-text-labels" })
        <div class="col-md-12">
          @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control" })
        </div>
      </div>
      <div class="form-group">
        @Html.LabelFor(m => m.ConfirmPassword, new { @class = "form-text-labels" })
        <div class="col-md-12">
          @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
        </div>
      </div>
      <div class="form-group">
        <div class="change-password-submit col-md-8">
          <input type="submit" value="Change password" class="btn btn-main" /> <!-- btn-main originally btn-secondary, save for possible reversion -->
        </div>
      </div>
    </div>
  </div>
}
@section Scripts {
  @Scripts.Render("~/bundles/jqueryval")
}