@model TheatreCMS.Areas.Subscribers.Models.SubscriptionPlan

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>SubscriptionPlan</h4>
    <hr />
    <dl class="dl-horizontal">
      <dt>
        @Html.DisplayNameFor(model => model.SubscriptionLevel)
      </dt>

      <dd>
        @Html.DisplayFor(model => model.SubscriptionLevel)
      </dd>

      <dt>
        @Html.DisplayNameFor(model => model.PricePerYear)
      </dt>

      <dd>
        @Html.DisplayFor(model => model.PricePerYear)
      </dd>

      <dt>
        @Html.DisplayNameFor(model => model.NumberOfShows)
      </dt>

      <dd>
        @Html.DisplayFor(model => model.NumberOfShows)
      </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
