@using System.Security.Claims
@using TheatreCMS_B.Models

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <nav class="navbar navbar-dark bg-dark fixed-top navbar-expand-md">
        <div class="container">
            @Html.ActionLink("Application name", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            <button type="button" class="navbar-toggler" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">@Html.ActionLink("Home", "Index", "Home", null, new { @class = "nav-link" })</li>
                    <li class="nav-item">@Html.ActionLink("About", "About", "Home", null, new { @class = "nav-link" })</li>
                    <li class="nav-item">@Html.ActionLink("Contact", "Contact", "Home", null, new { @class = "nav-link" })</li>
                </ul>

                @{ // This code block is added to accommodate TheatreCMS_B version and to auto logoff when switching between versions
                    // Not necessary for deployment, but also won't hurt
                    if (Request.IsAuthenticated)
                    {
                        var userId = ((ClaimsIdentity)this.User.Identity).FindFirst(System.Security.Claims.ClaimTypes.NameIdentifier).Value;
                        var db = new ApplicationDbContext();
                        if (db.Users.Find(userId) == null)
                        {
                            using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoff" }))
                            {
                                @Html.AntiForgeryToken()
                            }
                            <script>document.getElementById('logoff').submit();</script>
                        }
                    }
                }

                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </nav>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
