@model TheatreCMS.Areas.Subscribers.Models.SeasonManager

@{
    ViewBag.Title = "Details";
}



<div class="page-format-DetailsDelete card nice-border col-md-8">
    <h2 class="card-header banner-grey underline bold">Details for Season @Html.DisplayFor(modelItem => modelItem.Season) Manager</h2>
        <h4 class="bold mt-3">** Hover Over Text To Enlarge</h4>
        <br />
        @*<hr />*@
    <dl class="">
        <div class="magnify">
            <dt class="m-1">
                @Html.DisplayNameFor(model => model.NumberSeats)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.NumberSeats)
            </dd>
        </div>
        <br />
        <div class="magnify mb-4">
            <dt class="m-1">
                @Html.DisplayNameFor(model => model.BookedCurrent)
            </dt>

            <dd class="big-checkbox">
                @Html.DisplayFor(model => model.BookedCurrent)
            </dd>
        </div>
        <div class="card b-on-g mb-2">

            <h4 class="card-header banner-grey m-2 underline">Fall Production</h4>

            <div class="magnify">
                <dt class="m-2">
                    @Html.DisplayNameFor(model => model.FallProd)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.FallProd)
                </dd>
            </div>
            <div class="magnify">
                <dt class="m-2">
                    @Html.DisplayNameFor(model => model.FallTime)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.FallTime)
                </dd>
            </div>
            <div class="magnify mb-2">
                <dt class="m-2">
                    @Html.DisplayNameFor(model => model.BookedFall)
                </dt>

                <dd class="big-checkbox">
                    @Html.DisplayFor(model => model.BookedFall)
                </dd>
            </div>
        </div>
        <div class="card b-on-g mb-2">

            <h4 class="card-header banner-grey m-2 underline">Winter Production</h4>

            <div class="magnify">
                <dt class="m-2">
                    @Html.DisplayNameFor(model => model.WinterProd)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.WinterProd)
                </dd>
            </div>
            <div class="magnify">
                <dt class="m-2">
                    @Html.DisplayNameFor(model => model.WinterTime)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.WinterTime)
                </dd>
            </div>
            <div class="magnify mb-2">
                <dt class="m-2">
                    @Html.DisplayNameFor(model => model.BookedWinter)
                </dt>

                <dd class="big-checkbox">
                    @Html.DisplayFor(model => model.BookedWinter)
                </dd>
            </div>
        </div>
        <div class="card b-on-g mb-2">

            <h4 class="card-header banner-grey m-2 underline">Spring Production</h4>

            <div class="magnify">
                <dt class="m-2">
                    @Html.DisplayNameFor(model => model.SpringProd)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.SpringProd)
                </dd>
            </div>
            <div class="magnify">
                <dt class="m-2">
                    @Html.DisplayNameFor(model => model.SpringTime)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.SpringTime)
                </dd>
            </div>
            <div class="magnify mb-2">
                <dt class="m-2">
                    @Html.DisplayNameFor(model => model.BookedSpring)
                </dt>

                <dd class="big-checkbox">
                    @Html.DisplayFor(model => model.BookedSpring)
                </dd>
            </div>
        </div>
        <br />

        <div class="">
            @Html.ActionLink("Back to List", "Index") |
            @Html.ActionLink("Edit", "Edit", new { id = Model.SeasonManagerId }) |
            @Html.ActionLink("Delete", "Delete", new { id = Model.SeasonManagerId })
        </div>          
    </dl>
</div>

