@model TheatreCMS.Models.Sponsor
@using TheatreCMS.Controllers

@{
    ViewBag.Title = "Delete";
}

<div class="center">
    <!-- This is to center the WHOLE page, tride using the <script>, that didnt work-->
    <div class="container">
        <h3>Are you sure you want to delete this Sponsor?</h3>
        <div>
            <hr />
            <div class="row">
                <dl class="dl-horizontal justify-content-start col-md-12">


                    <dd>
                        @Html.DisplayFor(model => model.Name)
                    </dd>
                    <dd>
                        <!--This p tag is to show the width & height of the image during the hover effect-->
                        <a href="@Html.DisplayFor(model => model.Link)" title="@Html.DisplayFor(model => model.Photo.OriginalWidth) x @Html.DisplayFor(model => model.Photo.OriginalHeight)">
                           
                          
                            <img src="@Url.Action("DisplayPhoto", "Photo", new { id = Model.PhotoId })" class="medium_size"/>
                        </a>
                        @*{
                                string img = "";
                                if (Model.Logo != null)
                                {
                                {
                                    byte[] thumbBytes = ImageUploadController.ImageThumbnail(Model.Logo, 100, 100);
                                    var base64 = System.Convert.ToBase64String(thumbBytes);
                                    img = String.Format("data:image/png;base64,{0}", base64);
                                }

                            <img src="@img" />}*@
                    </dd>

                    <!-- created this div to increase size and have them side by side in css-->
                    <div class="Sponsor_Delete_Current">
                        <dd>
                            @Html.DisplayNameFor(model => model.Current)
                        </dd>
                        <dd>
                            @Html.DisplayFor(model => model.Current)
                        </dd>
                    </div>
            </div>


            <dd>


            </dd>

            </dl>

        </div>
    </div>
</div>


<div class="Button_Same_Line" style="text-align: center;">
    <!-- supposed to put them in the same line but its not working-->

    <div class="center_buttons">




        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            <!--this is supposed to show then next to each other
            div class="form-actions no-color text-center"-->

            <button type="submit" class="iconBtn">
                <i class="fa fa-trash-alt fa-fw"></i>Delete
            </button>
            <button class="iconBtn" onclick="window.location.href ='@Url.Action("Index", "Sponsors")'">
                <i class="fa fa-hand-point-left fa-fw"></i>Back To List
            </button>

            @*
                <input type="submit" value="Delete" class="btn btn-danger btn-main" /> |<!-- btn-main originally btn-default, save for possible reversion -->
                @Html.ActionLink("Back to List", "Index")*@

        }

        @*<div class="iconBtnContainer">*@

        @*</div>*@

    </div>
</div>
